/*nav bar styling*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Cormorant Unicase", serif;
    font-weight: 600;
    font-style: normal
}

header 
{
    background-color: #333;
    padding: 10px 20px;
}

.nav 
{
    display: flex;
    align-items: center;
}

.navleft h1
{
    color: aquamarine;
    font-size: 25px;
    font-weight: bold;
}

.navright
{
    display: flex;
    align-items: center;
}

.navright ul
{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin-left: auto;
}

.navright a
{
    text-decoration: none;
    color: aquamarine;
    font-size: 25px;
    transition: color 0.3 ease; 
}

.navright a:hover
{
    color: #00bcd4;
}

/* About Me*/
.about-me
{
    background-color: teal;
    border-radius: 8px;
    max-width: 1700px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.1);
}

.about-me h1
{
    font-size: 40px;
    color: pink;
    text-align: center;
    margin-bottom: 10px;
}

.about-me p
{
    text-indent: 30px;
    font-size: 25px;
    color: pink;
    text-align: left;
}

/*Hobbies*/
.no-bullets
{
    list-style-type: none;
}

.hobbies
{
    background-color: teal;
    border-radius: 8px;
    max-width: 1700px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.1);
}

.hobbies h1
{
    font-size: 40px;
    color: pink;
    text-align: center;
    margin-bottom: 10px;
}

.hobbies p
{
    font-size: 25px;
    color: pink;
    text-align: center;
    margin-bottom: 10px;
}

.hobbies ul
{
    font-size: 25px;
    color: pink;
    text-align: center;
    margin-bottom: 10px;
}

/*World of Warcraft*/

.wow
{
    background-color: teal;
    border-radius: 8px;
    max-width: 1700px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.1);
}

.wow h1
{
    font-size: 40px;
    color: pink;
    text-align: center;
    margin-bottom: 10px;
}

.wow p
{
    text-indent: 30px;
    font-size: 25px;
    color: pink;
    text-align: left;
    margin-bottom: 10px;
}