.background
{
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 150vh;
    width: 100%;
}

header
{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    position: sticky;
    top: 0;
}

nav
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu
{
    list-style: none;
    display: flex;
    margin-left: auto;
}

.menu li
{
    margin-right: 15px;
}

.menu a
{
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

.school
{
    display: flex;
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 120;
    position: center;

}

.pros
{
    display: flex;
    justify-content: wrap;
}