body
{
    margin: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

.background
{
    background-image: url("images/pic_1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
}

header
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    flex-direction: column;
}

.header-wrap
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

nav
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu
{
    list-style: none;
    display: flex;
    margin-left: auto;
}

.menu li
{
    margin-left: 15px;
}

.menu a
{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.school
{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 120px;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 136px;
}

.school h1
{
    font-size: 120px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.smiles
{
    display: flex;
    font-size: 16px;
}

.purple
{
    color: #c271ff;
    font-weight: 700;
    font-size: 32px;
}

header h2
{
    color: white;
    font-weight: 300;
    font-size: 32px;
}

.pros
{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-around;
    max-width: 1009px;
    margin: auto;
}

.pro
{
    max-width: 150px;
}

.pro img
{
    border-radius: 150px;
    max-width: 150px;
}

.pro h3
{
    font-size: 18px;
}

.pro p
{
    font-size: 15px;
    font-style: italic;
}

button
{
    position: center;
    background-color: #c271ff;
    border-color: transparent;
    color: white;
    border-radius: 22px;
    width: 162px;
    height: 44px;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 2px 20px black;
}
.testimonial
{
    display: flex;
    background-color: #c271ff;
    color: white;
    flex-direction: column;
    height: 392px;
}

blockquote
{
    font-size: 22px;
    text-align: start;
}

.testimonial img
{
    border-radius: 160px;
    max-width: 160px;
    position: center;
}

.person
{
   font-size: 22px;
   font-weight: bold; 
}
.weather
{
    font-size: 22px;
    font-style: italic;
}